<!-- Sidebar -->
<div id="sidebar">
  <h3>Software Links</h3>
  <ul>
    <li>
      <img src="https://github.com/yudhastyawan/QuakeSee/blob/main/imgs/QuakeSee%20-%201.png" alt="QuakeSee" width="100">
      <br>
      <a href="https://github.com/yudhastyawan/QuakeSee">QuakeSee</a>
    </li>
    <li>
      <img src="https://github.com/comp-geoph-itera/lindu-software/blob/dev/lindugui/images/screenshots/lindu-dev-3.PNG" alt="Lindu Software" width="100">
      <br>
      <a href="https://github.com/comp-geoph-itera/lindu-software">Lindu Software</a>
    </li>
    <li>
      <img src="https://github.com/comp-geoph-itera/Lindu-HypoDD/blob/master/src/figs/lindu-hypoDD-1.png" alt="Lindu-HypoDD" width="100">
      <br>
      <a href="https://github.com/comp-geoph-itera/Lindu-HypoDD">Lindu-HypoDD</a>
    </li>
  </ul>
</div>
