---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>

<body>

  {% include browser-upgrade.html %}
  {% include masthead.html %}

  <div class="academic-layout-wrapper">
    <aside class="academic-sidebar-left">
      {% include sidebar.html %}
    </aside>

    <div class="academic-main-container">
      {{ content }}
    </div>

    <aside class="academic-sidebar-right">
      {% include sideright.html %}
    </aside>
  </div>

  <div class="page__footer">
    <footer>
      {% include footer/custom.html %}
      {% include footer.html %}
    </footer>
  </div>

  {% include scripts.html %}

</body>

</html>