---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  <div id="sidebar">
    <h3>Software Links</h3>
    <ul>
        <li><a href="https://example.com/software1">Software 1</a></li>
        <li><a href="https://example.com/software2">Software 2</a></li>
        <li><a href="https://example.com/software3">Software 3</a></li>
    </ul>
  </div>

  </body>
</html>
