---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div style="text-align:center">
    <h1>USGS Finite Faults in Indonesia (2000-05-04 - 2023-12-02)</h1>
    <p><a href="https://yudhastyawan.github.io/maps/finite-faults.html" target="_blank">View in full screen</a></p>
    <iframe width="1000" height="600" src="https://yudhastyawan.github.io/maps/finite-faults.html" frameborder="0" style="border:0"></iframe>
    </div>

    <div style="text-align:center">
    <h1>USGS Moment Tensors in Indonesia (2000-01-03 - 2025-07-28)</h1>
    <p><a href="https://yudhastyawan.github.io/maps/moment-tensor.html" target="_blank">View in full screen</a></p>
    <iframe width="1000" height="600" src="https://yudhastyawan.github.io/maps/moment-tensor.html" frameborder="0" style="border:0"></iframe>
    </div>

    <div style="text-align:center">
    <iframe width="1000" height="1000" src="https://lookerstudio.google.com/embed/reporting/895b9f09-900a-4b35-8ca0-953f7af0cfb5/page/rPITF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
    </div>
    
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
