---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div style="text-align:center">
    <h1>USGS Finite Faults in Indonesia (2000-05-04 - 2023-12-02)</h1>
    <p><a href="https://yudhastyawan.github.io/maps/finite-faults.html" target="_blank">View in full screen</a></p>
    <iframe width="600" height="600" src="https://yudhastyawan.github.io/maps/finite-faults.html" frameborder="0" style="border:0"></iframe>
    </div>
    
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
